a {
    text-decoration: none;
    color: cornflowerblue;
}
h1 {
    font-size: 40px;
}
p {
    background: blueviolet;
    width: 200px;
}
li {
    background-color: forestgreen;
    width: 160px;
}
img {
    width: 200px;
}